header {
  display: flex;
  margin-left: auto;
  width: 95%;
  align-items: center;
  height: 10%;
  background: #ecabdb;
  border-radius: 20px 0 0 20px;
}

.logo {
  height: 100%;
  border-radius: 10px;
}

h1 {
  font-size: xx-large;
  margin: 0 0 0 20px;
  width: fit-content;
  padding: 0;
}


main {
  display: flex;
  margin: 5% 20% 0 20%;
  padding: 20px;
  background: rgba(239, 221, 233, 0.31);
  border-radius: 20px;
  height: 70%;
}
